<div class="infobar">

 <div class="social">
    <a class="sociali" href="https://www.facebook.com/groups/460921228840896" target="_blank" aria-label="Facebook">
     <i class="fa fa-facebook-square fa-fw" title="Facebook"></i> facebook</a>
    <a class="sociali" href="https://www.youtube.com/channel/UCGrC-E8BfHJlk25keXdv7Xw?sub_confirmation=1&app=desktop" target="_blank" aria-label="YouTube">
     <i class="fa fa-youtube fa-fw" title="YouTube"></i> youtube</a>
    <a class="sociali" href="https://www.instagram.com/cubby_hole_scale_models/?hl=en" target="_blank" aria-label="Instagram">
     <i class="fa fa-instagram fa-fw" title="Instagram"></i> instagram</a>
    <a class="sociali contactfix" href="contact" aria-label="Contact us">
     <i class="far fa-envelope fa-fw" title="Contact us"></i> contact-us</a>
 </div>

 
 <form class="searchbar" action="/action_page.php">
   <input class="search" type="text" placeholder="search website.." name="search">
   <button class="search searchhover" type="submit"><i class="fas fa-search"></i></button>
 </form>

</div>