<header>
    <div class="title">
        <h1 class="heading1"> Cubby Hole<br>Scale Models </h1>
        <h3 class="heading2">"Mindfully manifesting the mind’s imaginings in miniature!"</h3>
   </div>
   <div class="logo"><img class="cubbyimg" src="images/logo.jpg" alt="Cubby Hole logo" title="Cubby Hole logo">
   </div>
</header>