<nav>

  <a class="home" href="/"><img class="raficon" src="images/raficon.png"> Home </a>
  <a href="https://cubbyholescalemodels.co.uk/" target="_blank"><img class="cubbyicon" src="images/cubbyicon.png"> New Kits </a>
  <a href="/kithunting"><img class="raficon" src="images/raficon.png"> Kit Hunting Service </a>
  <a href="/blog"><img class="raficon" src="images/raficon.png"> Cubby Blog </a>
  <a href="/gallery"><img class="raficon" src="images/raficon.png"> Cubby Gallery </a>
  <a href="/hobbytips"><img class="raficon" src="images/raficon.png"> Hobby Articles </a>
  <a href="https://www.bulldogmodels.co.uk/" target="_blank" aria-label="Bulldog Models"><img class="cubbyicon" src="images/bulldogicon.png"> Bulldog Models</a>
  <a href="/about"><img class="raficon" src="images/raficon.png"> About us </a>
  <a href="/blog-admin"><img class="raficon" src="images/raficon.png"> admin</a>
</nav>